* {
   margin: 0px;
}

@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/jetbrains-mono.min.css");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/fira-code.min.css");

@media (min-width: 401px) {
    .col { margin: 50px 10% 100px; }
}

@media (min-width: 1000px) {
    .col { margin: 50px 30% 100px }
}

@media (max-width: 400px) {
    .col { margin: 25px; margin-bottom: 100px; }
}

body {
    background-color: #222222;
}

#nav-menu {
    font-family: 'Fira Mono', monospace; 
    background-color: #303030;
    border-top: solid 1px #202020;
    position: fixed;
    height: 15px;
    width: 100%;
    bottom: 0;
    padding: 15px;
    text-align: center;
    margin-right: 0px;
    left: 0;
    display: none;
}

nav ul {
    margin-left: -20px;
}

nav li {
	color: #F1E9E5;
    text-align: center;
    margin: 10px 10px;
    display: inline;
    margin-top: 10px;
}

#nav-botao {
    background-color: #7D9D9C;
    border: none;
    color: #E0E0E0;
    padding: 10px 10px;
    border-radius: 45%;
    text-align: center;
    font-size: 16px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    transition: margin 1000ms;
}

.nav-botao-topo {
    margin-bottom: 60px;
}

.nav-botao-fundo {
    margin-bottom: 20px;
}

p {
	color: #F1E9E5;
	margin-bottom: 10px;
    font-family: 'Jetbrains Mono', monospace; 
}

p.tagline {
	color: #B4B897;
	font-size: 13px;
    margin-bottom: 50px;
}

a {
	text-decoration: underline dotted #3C3C3C;
	color: #AEDBCE;
}

a:hover {
	color: #39AEA9;
	transition: 1500ms;
}

h1 {
    font-family: 'Fira Mono', monospace; 
    font-size: 25px;
	font-weight: bold;
	color: #7D9D9C;
	font-size: 25px;
	margin-bottom: 10px;
}

h2 {
    font-family: 'Fira Mono', monospace; 
	font-weight: bold;
    color: #576F72;
	font-size: 15px;
    margin: 30px 0px 10px;
}

h3 {
	font-weight: bold;
	color: #8ff0a4;
	font-size: 13px;
}

ul.lista {
    margin-top: 10px;
	color: #F1E9E5;
    font-family: 'Jetbrains Mono', monospace; 
}

ul.lista li {
    margin-top: 5px;
}

.destaque {
    padding-left: 1%;
	font-size: 18px;
	font-weight: bold;
	opacity: 0.5;
	transition: 1000ms;
	color: #B9B9B9
}

.destaque:hover {
	opacity: 0.8;
	color: #8ff0a4;
}

em {
	color: #B9B9B9
}

pre {
	color: #B9B9B9
}

